// 用户基本信息
.information{
		display: flex;
		width: 96%;
		margin: 0 2%;
		border-radius: 10rpx;
		height: 90rpx;
		margin-top: 10rpx;
		background-color: #91B853;
		.informationPic{
			display: flex;
			width: 10%;
			height: 90rpx;
			justify-content: center;
			align-items: center;
			image{
				width: 37.7rpx;
			}
		}
		.informationText{
			display: flex;
			width: 90%;
			height: 90rpx;
			font-size: 10rpx;
			color: #fff;
			.userText{
				display: flex;
				width: 20%;
				height: 90rpx;
				.userTextLeft{
					width: 50%;
					view{
						height: 30rpx;
						line-height: 30rpx;
					}
				}
				.userTextRight{
					view{
						height: 30rpx;
						line-height: 30rpx;
					}
				}
				.userTextLeftwidth{
					width: 35%;
				}
			}
			.userwidth{
				width: 30%;
			}
			.userConnection{
				width: 35%;
				height: 90rpx;
				background-color: green;
			}
			.userSource{
				width: 25%;
				height: 90rpx;
				background-color: red;
			}
			.userType{
				width: 20%;
				height: 90rpx;
				background-color: green;
			}
		}
	}
	// 表格
	.typeCheck,
	.typeDetePer,
	.productInformation,
	.diseaseInformation,
	.vipInformation{
		width: 96%;
		margin: 0 2%;
		border-radius: 10rpx;
		height: 60rpx;
		overflow: hidden;
		margin-top: 10rpx;
		.tbTh {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 30rpx;
			border-bottom: 1px solid #ccc;
			font-size: 10rpx;
			line-height: 30rpx;
			background-color: $uni-color-fygray;
			.tbThclass {
				text-align: center;
			}
		}
		.tbTd {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 30rpx;
			border-bottom: 1px solid #ccc;
			font-size: 10rpx;
			line-height: 30rpx;
			background-color: $uni-color-fygray;
			.tbTdclass {
				text-align: center;
				button {
					width: 100%;
					font-size: 10rpx;
					background-color: #A3CB64;
					margin-top: 5rpx;
					color: #fff;
					border-radius: 15rpx;
				}
				::after {
					border: none;
				}
			}
		}
		.notbTd {
			border: none;
		}
	}
	
	// 弹出框
	.dilog{
		position: absolute;
		top:0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.5);
		.infocheckbox{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: #fff;
			width: 80%;
			border-radius: 10rpx;	
		.viewData{
			width: 100%;
			height: 40rpx;
			line-height: 40rpx;
			border-bottom: 1px solid #ccc;
			view{
				float: left;
				font-size: 10rpx;
				margin-left: 10rpx;
			}
			button{
				float: right;
				margin-right: 20rpx;
				margin-top: 5rpx;
				width: 60rpx;
				height: 30rpx;
				line-height: 30rpx;
				border: none;
				color: #fff;
				font-size: 10rpx;
				background-color: #FF707D;
				border-radius: 15rpx;
			}
			button::after{
				border: none;
			}
		}
		.viewDataSize{
			.measureSize{
				margin-top: 10rpx;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				padding-bottom: 10rpx;
				.mSize{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					width: 50%;
					height: 80rpx;
					textarea{
						margin: 5rpx;
						padding: 5rpx;
						border-radius: 5rpx;
						width: 100%;
						height: 50rpx;
						background-color: #ccc;
					}
				}
			}
			.textareaStyle{
				margin: 5rpx;
				width: calc(100% - 20rpx);
				background-color: #ECECEC;
				height: 60rpx;
				border-radius: 10rpx;
				padding: 5rpx;
				}
		}
		}
	}
	
		